#hijo {
    align-items: center;
    margin: 0px auto;
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }


#div2 {
    align-items: center;
    margin: 0px;
}



* {
    outline: none !important
}

.wrapper-calendar {
    margin: 1rem;
    padding: .5rem;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 10px #e4e4e4;
}

#calendar {
    text-align: center;
    width: 425px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

li {
    padding: .25rem;
    font-size: 1.5ch;
    cursor: pointer;
}

li:hover {
    font-weight: 600;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.first-day {
    grid-column-start: var(--first-day-start, 0);
}

.day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-calendar h1 {
    width: 100%;
    font-size: 13px;
}

.header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}



body
{
    margin:0;
    background-color: #1c1c1c
}

.galeria-titulo
{
    padding: 30px 15px;
}
.titulo-seccion
{
    font-size: 60px;
}

 .subTitulo-seccion,.titulo-seccion
{
    /*opacity: 0;*/
color: #fff;
font-weight: 500;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
transform: translateY(-30px);
transition: ease all .5s;
}

.container-boxs
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.box{
    position: relative;
    width: 30%;
    height: 260px;
    margin: 10px 20px;
    /*padding: 50px 0;*/
    transition: ease all .5s;
    overflow: hidden;
/*     background-color: red; */
}



.box__img
{
  width: 100%;
/*   min-height:100%; */
  display: block;
object-fit:cover;
background-position: bottom ;

}


.box__cnt-titulo-img
{
  position: absolute;
  top:0;
left:0;
bottom:0;
right:0;
  opacity: 0;
/* 	width: 100%; */
  transition:all .5s; 
  background-image: linear-gradient(180deg, rgba(255,255,255,.0) 0, rgba(255,255,255,.0) 25%, rgba(255,255,255,.2) 35%,
rgba(255,255,255,.4) 45%, 
rgba(255,255,255,.6) 65%,    
rgba(255,255,255,.9) 75%, rgba(255,255,255,.9) 100%);
background-size: cover;
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color:#333;


}

.box:hover .box__cnt-titulo-img	

{
  opacity: 1;
}

.box__titulo-img
{
  
  font-size:2.2rem;
  position: absolute;
  bottom: -80px;
  transition:all .2s;
  font-weight: 700;
/*   background-color: red; */
}


.box:hover .box__titulo-img	
{
  bottom: 0;
  transition-delay:.2s;

}