<div class="container py-xl-5">
    <h2 class="text-center mb-3">Detalles de la Reserva</h2>
</div>
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Detalles de la Reserva</h3>
    </div>
</div>
<section class="section-galeria section">
    <div class="container-boxs">
        <div class="box">
            <div class="box__Cnt-img">
                <img style="border-radius: 10%;" src="assets/images/1.jpeg" alt="" class="box__img">
            </div>

            <div class="box__cnt-titulo-img">
                <h2 class="box__titulo-img">Sala</h2>
            </div>
        </div>

        <div class="box">
            <div class="box__Cnt-img">
                <img style="border-radius: 10%;" src="assets/images/2.jpeg" alt="" class="box__img">
            </div>

            <div class="box__cnt-titulo-img">
                <h2 class="box__titulo-img">Comedor </h2>
            </div>
        </div>

        <div class="box">
            <div class="box__Cnt-img">
                <img style="border-radius: 10%;" src="assets/images/3.jpeg" alt="" class="box__img">
            </div>

            <div class="box__cnt-titulo-img">
                <h2 class="box__titulo-img">Habitaciones </h2>
            </div>
        </div>
    </div>
</section>


<div class="container py-xl-5">
    <h2 class="text-center mb-3">Reserva</h2>
    <div class="row justify-content-center">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="col-md-12">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Ingrese la información requerida</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mt-12">
                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Numero de Identificación</b></label>
                                <input type="text" class="form-control" name="documento" placeholder="Documento"
                                    #documento="ngModel" [(ngModel)]="reserva.documento" (blur)="busqueda()" required>

                                <small *ngIf="!documento.valid && documento.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Nombres</b></label>
                                <input type="text" class="form-control" name="nombres" placeholder="Nombres"
                                    #nombres="ngModel" [(ngModel)]="reserva.nombres" required>

                                <small *ngIf="!nombres.valid && nombres.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Apellidos</b></label>
                                <input type="text" class="form-control" name="apellidos" placeholder="Apellidos"
                                    #apellidos="ngModel" [(ngModel)]="reserva.apellidos" (blur)="busqueda()" required>

                                <small *ngIf="!apellidos.valid && apellidos.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                        </div>

                        <div class="row mt-12">

                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Correo</b></label>
                                <input type="text" class="form-control" name="correo" placeholder="correo"
                                    #correo="ngModel" [(ngModel)]="reserva.correo" required>

                                <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Pais</b></label>
                                <input type="text" class="form-control" name="pais" placeholder="pais" #pais="ngModel"
                                    [(ngModel)]="reserva.pais" (blur)="busqueda()" required>

                                <small *ngIf="!pais.valid && pais.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3">
                                <label for="exampleAccount"><b>Telefono</b></label>
                                <input type="text" class="form-control" name="telefono" placeholder="telefono"
                                    #telefono="ngModel" [(ngModel)]="reserva.telefono" required>

                                <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                        </div>
                        <div class="row mt-12">
                            <div class="col-sm-6 pb-3">
                                <label for="exampleAccount"><b>Fecha Incial del Alojamiento</b></label>
                                <input type="date" class="form-control" name="fecini" placeholder="fecini"
                                    #fecini="ngModel" [(ngModel)]="reserva.fecha_ini" required>

                                <small *ngIf="!fecini.valid && fecini.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                            <div class="col-sm-6 pb-3">
                                <label for="exampleAccount"><b>Fecha Final del Alojamiento</b></label>
                                <input type="date" class="form-control" name="fecfin" placeholder="fecfin"
                                    #fecfin="ngModel" [(ngModel)]="reserva.fecha_fin" required>
                                <small *ngIf="!fecfin.valid && fecfin.touched" class="invalid-feedback d-block">
                                    El campo no es valido!
                                </small>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="apellido"><b>Valor Alojamiento por cada dia: <u>{{valor}}</u></b></label>
                        </div>
                        <div class="card-footer" style="align-items: center;">
                            <div class="row mt-4">
                                <button type="submit" [disabled]="registerForm.invalid"
                                    class="btn btn-success">Reservar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>