<br>
<br>
<div  class="contenedor">
    <nav class="nav">
        <a href="#" class="nav-item" active-color="green">Arrendamiento</a>
        <a href="#" class="nav-item" active-color="green">Alojamiento</a>
        <a href="#" class="nav-item" active-color="blue">Testimonials</a>
        <span class="nav-indicator"></span>
    </nav>

</div>
<br>
<br>
<section class="app-main">

    <div class="app-main-left cards-area">
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?sculpture,hotel" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Grand Budapest Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1000</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?architecture,hotel" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Grand Canyon Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel-room,hotel" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Beakman Spa Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1300</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel,design" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">Paloma Hotel & Spa</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $700</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?interior,design" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Golden Hours Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $700</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?interior,architecture" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Daydream Hotel & Spa</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1250</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?interior,modern" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Harmony Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?architecture,modern" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Hotel Star Pasific</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1400</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel,modern" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">Hotel Roller Coaster </div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1800</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="app-main-right cards-area">
        <div class="app-main-right-header">
            <span>Latest Deals</span>
            <a href="#">See More</a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel-room,interior">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">Hotel Conrad</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1000</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?interior,hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Hotel Riviera</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $300</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?architecture,modern">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The Hotel Star Pasific</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1400</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel,modern">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">Hotel Instant Destiny </div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1800</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?architecture,modern" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">The White Roses Hotel</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $700</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
            <a class="card cardItemjs" onclick="openModal()">
                <div class="card-image-wrapper">
                    <img src="https://source.unsplash.com/featured/1200x900/?hotel,modern" alt="Hotel">
                </div>
                <div class="card-info">
                    <div class="card-text big cardText-js">Hotel Tom's Dinner</div>
                    <div class="card-text small">Stockton Street</div>
                    <div class="card-text small">
                        Starts from:
                        <span class="card-price"> $1500</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>