html {
    height: 50%;
    background-color: #f8f8f8;
}

/* body {
  overflow: hidden;
  height: 100%;
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #555555;
}
 */
a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

$menu_WIDTH: 150px;

.menu {
    display: block;
    position: relative;
    cursor: pointer;
}

.menu-title {
    display: block;
    width: $menu_WIDTH;
    height: 30px;
    padding: 6px 0 0;
    background: #198754;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #198754;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
        0.2s 0.2s border-top ease-out,
        0.3s border-top-color;
}

.menu-title:hover {
    background: #198754;
}

.menu-title:hover:before {
    border-top-color: #198754;
}

.menu:hover>.menu-title:before {
    border-top-width: 0;
    transition:
        0.2s border-top-width ease-in,
        0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover>.menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
    background: #4e96b3;
}

.menu-title_2nd:hover {
    background: #3e86a3;
}

.menu-title_2nd:before {
    border-top-color: #4e96b3;
}

.menu-title_2nd:hover:before {
    border-top-color: #3e86a3;
}

.menu-title_3rd {
    background: #c97676;
}

.menu-title_3rd:hover {
    background: #b96666;
}

.menu-title_3rd:before {
    border-top-color: #c97676;
}

.menu-title_3rd:hover:before {
    border-top-color: #b96666;
}

.menu-title_4th {
    background: #dbab58;
}

.menu-title_4th:hover {
    background: #cb9b48;
}

.menu-title_4th:before {
    border-top-color: #dbab58;
}

.menu-title_4th:hover:before {
    border-top-color: #cb9b48;
}

.menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition:
        0.5s padding,
        0.5s background;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu:not(:hover)>.menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu:not(:hover)>.menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover)>.menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown>* {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition:
        0.5s height cubic-bezier(.73, .32, .34, 1.5),
        0.5s padding cubic-bezier(.73, .32, .34, 1.5),
        0.5s margin cubic-bezier(.73, .32, .34, 1.5),
        0.5s 0.2s color,
        0.2s background-color;
}

.menu-dropdown>*:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover)>.menu-dropdown>* {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition:
        0.5s 0.1s height,
        0.5s 0.1s padding,
        0.5s 0.1s margin,
        0.3s color,
        0.6s visibility;
    z-index: 99;
}

.hList {
    //overflow: hidden;
}

.hList>* {
    float: left;
}

.hList>*+* {
    margin-left: 0;
}

ul {
    list-style: none;
}

button {
    height: 35px;
    width: 35px;
}


body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

div.table-title {
    align-items: center;
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
}


/* Table Styles **/

.table-fill {
    background: white;
    border-radius: 5px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 1100px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #bdc9dd;
    background: #343a45;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 16px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}