
<head>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
<!--     <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.min.js"></script> -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <h1>MENU PRINCIPAL</h1>
    <ul class="form">
        <li style="cursor: pointer;"><a class="profile" (click)="tiposaloja()"><i class="icon-briefcase"></i>Tipos de Alojamiento</a>
        </li>
        <li class="selected" style="cursor: pointer;"><a class="messages" (click)="taraloja()"><i class="icon-print"></i>Tarifas</a></li>
        <li style="cursor: pointer;"><a class="settings" (click)="inicio_traslado()"><i
                    class="icon-random"></i>Comfirmar Reservas</a></li>
        <li class="selected" style="cursor: pointer;"><a class="profile" (click)="crear_periodo()"><i
                    class="icon-plus-sign"></i>Reportes</a></li>
    </ul>
</body>